<!DOCTYPE html>

<html lang="en">

<head>
    <!-- set the character set -->
    <meta charset="utf-8">

    <!-- set the title -->
    <title>About</title>

    <!-- link to reset.css -->
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- set metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link to bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
    
    <!-- link to style.css -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container-fluid">

        <!-- header section -->
        <div class="row g-0">
            <div class="col-md-12">
                <div class="border rounded bg-light m-2 p-2">
                    <h2 class="display-4 text-center">AirBnB Investigator</h2>
                    <p class="text-center">Learn more about us and the application</p>
                </div>
            </div>
        </div>
        
        <!-- body section -->
        <div class="row g-0">
            
            <div class="col-md-1"></div>
            <!-- selection data block -->
            <div class="col-md-3">
                
                <div class="border rounded bg-light m-2 p-2">
                    <p class="h5 text-center">The Creators</p>
                    <hr>
                    <p class="h6 text-center">Tom Lenzmeier</p>
                    <p class="h6 text-center">Scott Neubauer</p>
                    <p class="h6 text-center">Maryam Osman</p>
                    <p class="h6 text-center">John Torgerson</p>
                </div> 
                <div class="border rounded bg-light m-2 p-2">
                    <p class="h5 text-center">Thanks to our Sources</p>
                    <hr>
                    <p class="h6 text-center">Map functionality from <a target="_blank" href="https://leafletjs.com/">Leaflet</a></p>
                    <p class="h6 text-center">Places Search from <a target="_blank" href="https://developers.google.com/maps/documentation/places/web-service/overview">Google Places</a></p>
                    <p class="h6 text-center">Weather from <a target="_blank" href="https://openweathermap.org/">Open Weather Map</a></p>
                    <p class="h6 text-center">AirBnB Database from <a target="_blank" href="https://www.kaggle.com/">Kaggle</a></p>
                    <p class="h6 text-center">Dropdown Widget from <a target="_blank" href="https://jqueryui.com/about/">jQuery</a></p>
                </div> 

            </div>
            
            <div class="col-md-1"></div>
            <!-- content block -->
            <div class="col-md-5"> 
                <div class="border rounded bg-light m-2 p-2">
                    <p class="h5 text-center">Delivering awareness and preparation efficiency to every adventurer in America</p>
                    
                    <hr>
                    <p class="h7 text-center">Our mission was to construct a user-friendly map with a central focus on AirBnB hosts, their locations, metadata about what they offer, and how they rank and compare to others. Additionally, we didn’t want to neglect other considerations an intrepid person might want to know. As a secondary feature of the map we’ve included airports.</p>
                    <p class="h7 text-center">Customizable search toggles for every interest would’ve limited this tool to ideas we could consider, and databases we could use, and the wishlist began to swell. Instead as a tertiary feature, custom searching is offered through a google places API tool. This way no special interest is neglected. Maybe soap carvings are your thing. This map delivers that.</p>
                    <p class="h7 text-center">Another API feature we’ve included is a 5 Day weather forecast. Some of the cities in America can boast consistently perfect weather like San Francisco, while others can change by 40 degrees with very little notice. Consider October in Fargo, North Dakota where it might be 68 and sunny, or it might deliver a foot of snow. Here, you can zoom in on your destination and make yourself best prepared for your journey in the days just before you embark to be sure you have the correct attire.</p>
                    <p class="h7 text-center">You are an intrepid soul, and so are we. And that is why we built this application. We want to spend our time wisely. We want to prepare for an adventure with simplicity. We want to save time researching all the peculiar nuances of our interests, and confidently run off into the weird, wild, unknown to go enjoy them.</p>
                    
                </div>
            </div>

        </div>
    </div>

    <!-- bootstrap js scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    
    <!-- local js scripts -->
    <script src="/static/js/logic.js"></script>
</body>

</html>