<!DOCTYPE html>

<html lang="en">

<head>
    <!-- set the character set -->
    <meta charset="utf-8">

    <!-- set the title -->
    <title>AirBnB Investigator</title>

    <!-- link to reset.css -->
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- set metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link to bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
    
    <!-- Import Dropdown Autocomplete JQuery JavaScript Library -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <script src=https://code.jquery.com/jquery-1.12.4.js></script>
    <script src=https://code.jquery.com/ui/1.12.1/jquery-ui.js></script>
      
    
    <!-- link to style.css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- link to leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>

    <!-- link to leaflet js scripts -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <!-- import the js scripts -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="container-fluid">

        <!-- header section -->
        <div class="row g-0">
            <div class="col-md-12">
                <div class="border rounded bg-light m-2 p-2">
                    <h3 class="display-4 text-center">AirBnB Investigator</h3>
                    <!-- <p class="text-center">Use the interactive map below to explore your options!</p> -->
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-3">
                <div class="border rounded bg-light m-2 p-2">
                    <p class="h6 text-center">Start typing a US city</p>
                    <div class="ui-widget">
                        <label for="tags"></label>
                        <input id="tags">
                    </div>
                </div>
            </div>
            
            <div class="col-md-5">
                <!-- weather data -->
                <div class="border rounded bg-light m-2 p-2">
                    <p class="h6 text-center">Search Google Places to find points of interest nearby</p>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" id="search_command" type="button">Search</button>
                        <button class="btn btn-outline-secondary" id="reset_command" type="button">Reset</button>
                        <input type="text" class="form-control" id="search_terms" placeholder="Restaurants" aria-label="Example text with two button addons">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="border rounded bg-light m-2 p-2">
                    <p class="h6 text-center">Search Radius (meters)</p>
                    <input type="number" id="search_radius" min="0" max="100000" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>

            <div class="col-md-1">
                <div class="border rounded bg-light m-2 p-2">
                    <div id="button_loc">
                        <p class="h6 text-center">~ ~ ~</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-secondary" target="_blank" href="/about" role="button">About</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <!-- body section -->
        <div class="row g-0">
            
            <!-- selection data block -->
            <div class="col-md-3">
                <div class="border rounded bg-light m-2 p-2">

                    <!-- weather metric selection -->
                    <div>
                        <p class="h6 text-center">Five Day Forecast</p>
                        <select class="form-select" id="weather_metric_selector">
                            <option value="0">Max Temperature</option>
                            <option value="1">Min Temperature</option>
                            <option value="2">'Feels Like' Temperature</option>
                            <option value="3">Humidity</option>
                            <option value="4">Cloudiness</option>
                            <option value="5">Wind Speed</option>
                        </select>
                    </div>
                    <hr>  
                    <p class="h6 text-center">Measurement System</p>
                    <select class="form-select" id="units_selector">
                        <option value="0">Standard</option>
                        <option value="1">Metric</option>
                        <option value="2">Imperial</option>
                    </select>

                    <!-- forecast plot -->
                    <div id="forecast_plot"></div>
                </div>

                <!-- metadata -->
                <div class="border rounded bg-light m-2 p-2">
                    <p class="h6 text-center">AirBnB Details</p>
                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td id="selection_name"></td>
                            </tr>
                            <tr>
                                <th scope="row">Host</th>
                                <td id="selection_host"></td>
                            </tr>
                            <tr>
                                <th scope="row">Price</th>
                                <td id="selection_price"></td>
                            </tr>
                            <tr>
                                <th scope="row">Room Type</th>
                                <td id="selection_room_type"></td>
                            </tr>
                            <tr>
                                <th scope="row">City</th>
                                <td id="selection_city"></td>
                            </tr>
                            <tr>
                                <th scope="row">Availability</th>
                                <td id="selection_availability"></td>
                            </tr>
                            <tr>
                                <th scope="row">Minimum Nights</th>
                                <td id="selection_minimum_nights"></td>
                            </tr>
                            <tr>
                                <th scope="row">Last Review</th>
                                <td id="selection_last_review"></td>
                            </tr>
                            <tr>
                                <th scope="row">Total Reviews</th>
                                <td id="selection_number_of_reviews"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            
            <!-- map block -->
            <div class="col-md-9"> 
                <div id="map_loc" class="border rounded bg-light m-2">
                    <div id="leaflet_map"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- bootstrap js scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    
    <!-- local js scripts -->
    <script src="/static/js/logic.js"></script>
</body>

</html>